{% extends 'master/base.html' %}

{% block body %}
  <title>Login | Page</title>
  <body>
    <form action="" method="POST">
      {% csrf_token %}
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Username</label>
        <input name="username" type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter Your Desired Username" />
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Provide Password" />
      </div>
      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" />
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <div class="mb-3">
      <label for="">Don't Have An Account?</label>
      <a href="{% url 'register_view' %}" class="btn btn-info">Create Account</a>
    </div>
  </body>
{% endblock %}
